body{
    font-size: 28px;
    background-color: #39ac73;
}

ul {
    list-style-type: none;
    margin: 0;
    top: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: -webkit-sticky;
    position: sticky;
}

li, a {
    float: right;
    display: block;
    color: white;
    text-align: left;
    padding: 14px 14px;
    text-decoration: none;
}

li a:hover, #articolBTN:hover {
  background-color: #206040;
}

#numeEchipa {
    float: left;
    color: #2d8659;
    font-family: cursive;
    font-size: 35px;
    font-weight: bold;
    margin-top: 5px;
    margin-left: 20px;
}

.articol {
    margin-top: 15px;
    margin-left: 10px;
    display: flex;
    flex-flow: row wrap;
}

label {
    margin: 5px 10px 5px 0;
    font-size: 20px;
}

input {
    vertical-align: middle;
    margin: 5px 10px 5px 0;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
}

#articolBTN {
  width: 15%;
  background-color: #333;
  margin-top: 10px;
  margin-left: 600px;
  color: white;
  font-size: 20px;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}